body {
    background-image: url('imagens/5386360.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    font-family: 'Rajdhani', sans-serif;
    min-height: 100vh;
}

.form{
    display: block;
    background-color: rgb(147, 253, 208);
    width: 350px;
    height: auto;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    border: 1px solid rgb(161, 180, 186);
    border-radius: 10px;
    color: #5d027e;
}
form{
    margin-bottom:5%;
}
form input{
    width: 90%;
    display: block;
    margin-bottom: 5px;
    border-radius: 5px;
    border: .5px solid lightgrey;
    padding: 7px;
    
}
h2 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700; /* Negrito para o título */
    color: #5d027e;
}
button{
    border-radius: 20px;
    background-color: rgb(0, 115, 255);
    border: .5px solid lightgrey;
    color: whitesmoke;
    padding: 5px;
}
a {
    text-decoration: none;
    color: #360447;
}

/* Estilo para a tabela de pedidos no painel */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #360447;
    text-align: center;
}

th {
    background-color: #5d027e;
    color: whitesmoke;
    font-weight: bold;
}

td {
    background-color: rgba(147, 253, 208, 0.8);
    color: #360447;
}

button {
    padding: 8px;
    background-color: rgb(0, 115, 255);
    border: .5px solid lightgrey;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 20px;
}

button:hover {
    background-color: #0077cc;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #360447;
    font-weight: bold;
    text-align: center;
}

